.App {
  margin: 3cm 2cm 3cm 2cm;
}

.card-container {
  max-width: 280px;
  max-height: 400px;
  margin-bottom: 1cm;
}

img {
  width: 100%;
  max-height: 180px;
}

div.panel{
  height: 0px;
  background-color: lightgrey;
  overflow: hidden;
  transition: all .5s ease-out;
}

div.panel.show {
  height: 400px;
  background-color: lightgrey;
  width: 100%;
  transition: all .5s ease-in;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-item {
  cursor: pointer;
}

.details-container {
  padding-top: 2cm;
  margin: 0 auto;
  width: 280px;
  height: 180px;
  text-align: center;
}