.App {
  margin: 3cm 2cm 3cm 2cm;
}

.card-container {
  max-width: 280px;
  max-height: 400px;
  margin-bottom: 1cm;
}

img {
  width: 100%;
  max-height: 180px;
}

div.panel, .details-container {
  /* display: none; */
  height: 0px;
  width: 0%;
  /* margin: 0px; */
  max-height: 0px;
  overflow: hidden;

  /* animation-name: slideUp;
  animation-duration: .5s;
  animation-timing-function: ease;	
  visibility: hidden; */

  /* opacity: 0;
  visibility: hidden; */
  

  transition: max-height .5s ease-in-out;
}

div.panel.show, .details-container {
  /* display: block; */
  height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 500px;
  background-color: lightgrey;

  /* animation-name: slideDown;
	animation-duration: .5s;	
	animation-timing-function: ease;	
  visibility: visible !important;					 */
  
  /* opacity: 1;
  visibility: visible; */

  transition: max-height .5s ease-in-out;
}

.grid-item {
  cursor: pointer;
}

.details-container {
  padding-top: 2cm;
  margin: 0 auto;
  width: 280px;
  height: 180px;
  text-align: center;
}

/* @keyframes slideDown {
	0% {
    transform: translateY(-25%);
	}
	100% {
    transform: translateY(0%);
	}		
}

@keyframes slideUp{
  100%{
    transform: translateY(0%);
  }
  0%{
    transform: translateY(-25%);
  }
} */
